*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%;
	height: auto;
	background-color: #ccc;
}
.main{
	width: 50%;
	height: auto;
	background-color: #FFF;
	margin: 30px auto;
}
.main form{
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding:20px 0px 30px 80px;
	
}

.main span{
	display:block;
	font-size: 30px;
	text-align: center;
	padding-top:40px;
	padding-bottom:20px;
	color:blue;
}
